body {
    margin: 0;
    background: #000;
    overflow: hidden;
}

#canvas {
    display: block;
}

#dialogue {
    position: absolute;
    background: #0f0f0fef;
    padding: 20px 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 300px;
    border: 2px solid #9900ff50;
    box-shadow: 0 0 15px #9900ffbd;
    user-select: none;          /* Standard property */
    -webkit-user-select: none;  /* For Safari */
    -moz-user-select: none;     /* For Firefox */
    -ms-user-select: none;      /* For Internet Explorer/Edge */
}

#statement {
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 22px;
    user-select: none;          /* Standard property */
    -webkit-user-select: none;  /* For Safari */
    -moz-user-select: none;     /* For Firefox */
    -ms-user-select: none;      /* For Internet Explorer/Edge */
}

#agree, #disagree {
    background: #9900ff;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    border: none;
    padding: 10px 15px;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;          /* Standard property */
    -webkit-user-select: none;  /* For Safari */
    -moz-user-select: none;     /* For Firefox */
    -ms-user-select: none;      /* For Internet Explorer/Edge */
}

#agree:hover, #disagree:hover {
    background: #5a0096;
}

#game-info {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    user-select: none;          /* Standard property */
    -webkit-user-select: none;  /* For Safari */
    -moz-user-select: none;     /* For Firefox */
    -ms-user-select: none;      /* For Internet Explorer/Edge */
}

#sd-contact {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;          /* Standard property */
    -webkit-user-select: none;  /* For Safari */
    -moz-user-select: none;     /* For Firefox */
    -ms-user-select: none;      /* For Internet Explorer/Edge */
}

.contact-box {
    background: #0f0f0fef; /* Dark semi-transparent background */
    padding: 5px;    /* Padding for spacing around the image */
    border-radius: 15px;   /* Rounded corners */
    text-align: center;    /* Centers the image horizontally */
    border: 2px solid #99ff002c; /* Subtle glowing border */
    box-shadow: 0 0 15px #99ff0062; /* glowing effect */
}

.contact-text {
    color: rgba(255, 217, 0, 0.603);
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px; /* Optional: adds spacing above the text */
    margin-right: 5px;
}

#stat-box {
    background: #0f0f0fef;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #9900ff50;
    box-shadow: 0 0 10px #9900ffb9;
    margin-bottom: 10px;
    width: 100%;
}

#level-text {
    color: gold;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin: 0;
}

#progress-bar {
    width: 100%;
    height: 10px;
    background: black;
    border-radius: 5px;
    margin-top: 5px;
}

#progress-fill {
    height: 100%;
    background: gold;
    border-radius: 5px;
    width: 0%;
}

#login-container {
    width: 80px;
    z-index: 10;
    right: 10px;
    top: 10px;

}

#user-info {
    width: 100px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-button, #logout-button {
    width: 80%;
    right: 10px;
    box-sizing: border-box;
    background: #9900ff6b;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;
}

#login-button:hover, #logout-button:hover {
    background: #5a00966b;
}

#user-name {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

#firebaseui-auth-container {
    top: 85px;
    right: 10px;
    background: rgba(235, 183, 248, 0.37);
    padding: 10px;
    border-radius: 5px;
    z-index: 11;
}